{% extends "layouts/base.html" %}
{% load widget_tweaks %}

{% block title %} ドメインを登録してください {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

 <!-- 左側、ログインエリア -->
 <form action="{% url 'home:domain_create'%}" method="POST">
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
      <div class="card border-0 shadow components-section">
        <div class="card-body">
      <div class="text-center mt-3">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field|add_class:'form-control' }}
        {{ field.errors }}
        <hr>
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary my-3" >更新</button>
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
</form>

<div class="my-5">
  <a href="{% url 'home:dashboard'%}"><u>ダッシュボードへ</u></a>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
