{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
    <!-- 左側、ログインエリア -->

    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0 rounded-start">Keyword Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        {% for domain in object_list %}
                        <tr>
                            <td><p>{{ domain.name }}</p></td>
                        </tr>
                        {% empty %}
                                <p>ドメインは登録されていません</p>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div>
        <a href="{% url 'domain_update' user.pk %}">ドメインの追加</a>
    </div>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
