{% extends "layouts/base.html" %}

{% block title %} キーワードを登録してください {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- 左側、ログインエリア -->

    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0 rounded-start">Keyword Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        {% for keyword in object_list %}
                        <tr>
                            <td><p>{{ keyword.name }}</p></td>
                        </tr>
                        {% empty %}
                                <p>No articles yet.</p>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   

    <div>
        <a href="{% url 'keyword_update' user.pk %}"><u>キーワードの編集</u></a>
    </div>
{% endblock %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
