{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <h2 class="h4">設定</h2>
        <p class="mb-0">基本情報などを確認しましょう</p>
    </div>
  </div>



    <div class="row">

        <div class="col-12">

            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">基本情報</h2>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="first_name">ユーザー名</label>
                            <p>{{ request.user.username }}</p>
                        </div>
                    </div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">

                            <div class="form-group mb-4">
                                <label for="nick_name">ニックネーム</label>
                                <p>現在以下のニックネームで登録されています。変更したい場合はニックネームを修正し、「ニックネームを変更」ボタンを押してください。</p>
                                <div class="input-group">
                                    {{ form.nick_name }}
                                </div>  
                                <span class="text-error">{{ form.nick_name.errors }}</span>
                            </div>
                            
                            <p>
                                {% if form.errors %}
                                    {{ form.non_field_errors }}
                                {% endif %}
                            </p> 
        
                        </div>
                    </div>



                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">ニックネームを変更</button>
                    </div>
                </form>
            </div>

            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">メールアドレス</h2>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <p>{{ request.user.email }}</p>
                    </div>
                </div>
                <div class="mt-3">
                    <a href="{% url 'email_change' %}">
                        <button class="btn btn-gray-800 mt-2 animate-up-2">メールアドレス変更</button>
                    </a>
                </div>
            </div>

            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">パスワード</h2>
                <p>複雑なパスワードにすることをお勧めします</p>
                <div class="mt-3">
                    <a href="{% url 'password_change' %}">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">パスワード変更</button>
                    </a>
                </div>
            </div>


            <div class="card card-body border-0 shadow mb-4 mb-xl-0">
                <h2 class="h5 mb-4">退会処理</h2>
                <div class="mt-3">
                    <a href="{% url 'withdraw' %}">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">退会する</button>
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
