{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <h2 class="h4">設定</h2>
        <p class="mb-0">基本情報などを確認しましょう</p>
    </div>
  </div>



    <div class="row">

        <div class="col-12">

            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">基本情報</h2>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="first_name">ユーザー名</label>
                            <p>{{ request.user.username }}</p>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">ニックネーム</label>
                                <input class="form-control" id="first_name" type="text" placeholder="ニックネームを入力" value="{{ request.user.nick_name }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">保存</button>
                    </div>
                </form>
            </div>

            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">メールアドレス</h2>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <p>{{ request.user.email }}</p>
                    </div>
                </div>
                <div class="mt-3">
                    <a href="{% url 'email_change' %}">
                        <button class="btn btn-gray-800 mt-2 animate-up-2">メールアドレス変更</button>
                    </a>
                </div>
            </div>

            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">パスワード</h2>
                <p>複雑なパスワードにすることをお勧めします</p>
                <div class="mt-3">
                    <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">パスワード変更</button>
                </div>
            </div>

            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">通知</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Company News</h3>
                            <p class="small pe-4">Get Rocket news, announcements, and product updates</p>
                        </div>
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="user-notification-1">
                                <label class="form-check-label" for="user-notification-1"></label>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Account Activity</h3>
                            <p class="small pe-4">Get important notifications about you or activity you've missed</p>
                        </div>
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="user-notification-2" checked>
                                <label class="form-check-label" for="user-notification-2"></label>
                            </div>                                            
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                        <div>
                            <h3 class="h6 mb-1">Meetups Near You</h3>
                            <p class="small pe-4">Get an email when a Dribbble Meetup is posted close to my location</p>
                        </div>
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="user-notification-3" checked>
                                <label class="form-check-label" for="user-notification-3"></label>
                            </div> 
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card card-body border-0 shadow mb-4 mb-xl-0">
                <h2 class="h5 mb-4">退会処理</h2>
                <p>本当に退会しますか？</p>
                <div class="mt-3">
                    <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">退会する</button>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
